<div class="detailWrapper">
  {{#each reports}}
  <h3>name: {{ name }}, description: {{ description }}, primary gear: {{ primaryGear }}, fishing from: {{ fishingFrom
    }}, pier dock: {{ pierDock }}, target fish: {{ targetFish }}, debris: {{ debrisPresent}}, target fish: {{
    targetFish }} <br><br><a href={{catchImg}}>CATCH IMAGE</a><br><br></h3>
  <button class="buttonClass">show message</button>
  <h4 id="block">message: {{ message }}</h4>
  <hr>
  {{/each}}

  <br> {{> footer}}
</div>